{{ if eq .chezmoi.os "darwin" -}}
#!/bin/bash
{{ $packages := merge .packages.universal (get .packages .computer.type) }}
brew bundle --no-lock --file=/dev/stdin <<EOF
cask_args appdir: "/Applications"
{{ range (concat .packages.universal.taps (get .packages .computer.type).taps | mustUniq) -}}
tap {{ . | quote | replace " " "\", \"" }}
{{ end -}}
{{ range (concat .packages.universal.brews (get .packages .computer.type).brews | mustUniq) -}}
brew {{ . | quote }}
{{ end -}}
{{ range (concat .packages.universal.casks (get .packages .computer.type).casks | mustUniq) -}}
cask {{ . | quote }}
{{ end -}}
{{ range (concat .packages.universal.mas (get .packages .computer.type).mas | mustUniq) -}}
mas {{ .name | quote }}, id: {{ .id }}
{{ end -}}
EOF
{{ end -}}
