[user]
	name       = "{{ .user.name }}"
	email      = "{{ .user.email }}"
	signingkey = {{ onepasswordRead "op://afcfz2u36qbb4w5iikx4aol2z4/nkxhzy6vcjhjmcfjqze2qqkxra/public key" }}
[gpg]
	format = ssh
[gpg "ssh"]
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
[commit]
	gpgsign = true
[url "git@github.com:"]
	insteadOf = https://github.com/
